{% macro dsp_date(article) -%}
    <p class="date">{{ article.date.strftime('%d %B %Y') }}</p>
{%- endmacro %}
<!DOCTYPE HTML>
<html>
    <head>
    {% block head %}
        <title>{% block title %}Web Development Articles{% endblock %} - Graham Lyons</title>
        <meta name="description" content="{% block metadesc %}Some web development articles by Graham Lyons including subjects such as Python, Javascript, Varnish{% endblock %}" />
        {% if not debug %}
        <meta name="google-site-verification" content="8w_81BEAAbhUB3nQNTDCABmLEbTu7o8hMh2VfPFq1jI" />
        {% endif %}
        <style type="text/css">
            .clear {
                clear: both;
                height:1px;
            }

            body {
                padding: 6px 12px;
                background-color: #EEE;
                color: #333;
                font-family: sans-serif;
            }

            code {
                font-size: 1.2em;
                color: #000;
            }

            a {
                color: #555;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            #content {
                margin-bottom: 12px;
            }

            .title {
                font-size: 250%;
                color: #555;
            }

            .index-title {
                text-shadow: 2px 2px 24px;
            }

            .date {
                font-style: italic;
            }

            pre {
                padding-left: 20px;
                color: #000;
            }

            .pagination {
                padding: 0;
                list-style: none;
            }

            .pagination li {
                float: left;
                padding-left: 12px;
            }
        </style>
    {% endblock %}
    </head>
    <body>
        <h1 class="index-title"><a href="/">Software Development, on the Web</a></h1>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            <hr/>
        {% block footer %}
            <a href="http://www.twitter.com/grahamlyons">@grahamlyons</a>
        {% endblock %}
        </div>
        {% if not debug %}
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-2711854-2']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        <script type="text/javascript">
          var GoSquared = {};
          GoSquared.acct = "GSN-301276-D";
          (function(w){
            function gs(){
              w._gstc_lt = +new Date;
              var d = document, g = d.createElement("script");
              g.type = "text/javascript";
              g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
              var s = d.getElementsByTagName("script")[0];
              s.parentNode.insertBefore(g, s);
            }
            w.addEventListener ?
              w.addEventListener("load", gs, false) :
              w.attachEvent("onload", gs);
          })(window);
        </script>
        {% endif %}
    </body>
